.contact_section {
	min-height: 92vh;
	align-items: flex-start;

	width: 80%;
	margin: auto;
}

.contact_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 70vh;
}

.contact_content .content_el {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100%;
}

.contact_content .content_el img {
	height: 70px;
	margin: 20px 0;
}