.button_language {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 12px;

	position: fixed;
	left: 0;
	bottom: 0;

	padding: 15px;
	margin: 15px;

	text-transform: uppercase;

	background-color: transparent;
	border: 1px solid #fff;

	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	letter-spacing: 1px;

	border-radius: 50%;
	overflow: hidden;

	color: #fff;
	z-index: 999;

	transition: 0.35s all;
}

.button_language svg {
	margin: 3px;
}

.button_language:hover {
	color: red;
}