header {
	display: flex;
	background-color: rgba(0, 0, 0, .4);

	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	z-index: 1;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 80%;
	margin: auto;

	height: 75px;
}

nav>div {
	display: flex;
	flex-direction: row;

}

nav>div a,
nav button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	text-align: center;

	padding: 15px;
	text-transform: uppercase;

	font-family: "Montserrat", sans-serif;
	color: #fff;

	background-color: transparent;
	border: none;
	outline: none;
	;

	transition: 0.35s all;
	z-index: 999;
}

nav>div a:hover,
nav .active {
	color: red;
}


.logo {
	width: 30%;
	justify-content: flex-start;
}

.menu {
	width: 70%;
	justify-content: space-between;
}

.menu>div {
	display: flex;
	flex-direction: row;
}

.menu_items {
	justify-content: center;
	width: 60%;
}

.menu_links {
	width: 40%;
	justify-content: flex-end;
}

.menu_items a {
	font-size: 13px;
}

.menu_links a,
.btn_menu {
	font-size: 20px;
}

.logo img {
	height: 25px;
}

/* Mobile */
.open {
	display: flex !important;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	position: fixed;
	height: 100% !important;
	top: 0;
	left: 0;
	width: 100% !important;
	background: rgba(0, 0, 0, 0.97);
	bottom: 0;

	transition: 0.35s all;
}

.open a {
	visibility: visible !important;
	opacity: 1 !important;
}

.open .menu_items {
	flex-direction: column;
	width: 100%;
}

.open .menu_links {
	width: 100%;
}

.open>div>a,
.open>div>button {
	/* font-size: 1px; */
	margin: 10px 0;
	padding: 15px 0;
	text-align: center;
	justify-content: center;
	width: 100%;
}


@media (min-width: 150px) and (max-width: 768px) {
	header {
		z-index: 999;
	}

	nav {
		width: 85%;
	}

	.logo {
		/* width: 100%;
		justify-content: center; */
		position: absolute;
		width: 100%;
		justify-content: center;
		left: 0;
		z-index: 998;
	}

	.btn_menu {
		display: flex;
	}

	.menu {
		display: none;
		height: 0;
	}

	.open .menu_items {
		width: 75%;
		margin-top: 50px;
	}

	.menu_links {
		display: none;
	}

	.menu a {
		visibility: hidden;
		opacity: 0;
		color: #fff;
		font-weight: lighter;
		font-family: "PhonkRegular", sans-serif;
		font-size: 20px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	nav {
		width: 100%;
	}

	.btn_menu {
		display: none;
	}

	.menu {
		display: flex;
	}
}

@media (min-width: 1025px) {
	.btn_menu {
		display: none;
	}

	.menu {
		display: flex;
	}
}