.explore_background {
    display: flex;
}


.content_el h1 {
    color: #fff;
    font-family: "PhonkRegular", sans-serif;
    font-size: 30px;
    font-weight: normal;

    letter-spacing: 1px;
}

.content_el b {
    font-family: "PhonkRegular", sans-serif;
    color: red;
    font-weight: normal;

    text-transform: uppercase;
}


.content_el a {
    display: flex;

    padding: 15px 0;
    transition: 0.35s all;
    font-size: 15px;

    color: #fff;

    font-family: "PhonkRegular", sans-serif;
    font-weight: normal;

    text-transform: uppercase;
}

.content_el a:hover {
    color: red;
    transform: scale(1.1);
}

@media (min-width: 150px) and (max-width: 768px) {
    .content_el h1 {
        font-size: 20px;
        line-height: 2rem;
    }
}