

.about_section {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	color: #fff;
}

.about_section h3 {
	font-size: 60px;
}

.about_section p {
	width: 100%;
	font-size: 24px;
}