.App {
	position: relative;
}

.Page {
	display: flex;
	flex-direction: column;

	overflow: hidden;

	/* background-color: rgb(0, 0, 0); */
	background: linear-gradient(90deg, rgba(2, 1, 2, 1) 0%, rgba(22, 20, 22, 1) 35%, rgba(22, 20, 22, 1) 66%, rgba(2, 1, 2, 1) 100%);


	min-height: 91vh;
	padding-top: 75px;
}

.Component {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;


	z-index: 1;
}

h1,
h2,
h3,
p,
span,
a,
button {
	font-family: "Montserrat", sans-serif;
}

a svg {
	margin: 0 5px;
}

button {
	outline: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}


.section_content {
	display: flex;
	justify-content: space-between;

	margin: auto;
}

.content_el {
	display: flex;
	flex-direction: column;

	color: #fff;
}



@media (min-width: 150px) and (max-width: 768px) {
	.section_content {
		width: 78%;
		flex-direction: column;
	}

	.content_el {
		width: 100% !important;
	}

	.Page {
		min-height: 91vh;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.section_content {
		width: 78%;
		flex-direction: column;
	}

	.content_el {
		width: 100% !important;
	}
}

@media (min-width: 1025px) {
	.section_content {
		width: 78%;
	}
}