
.Page {
	display: flex;
	flex-direction: column;
		
	overflow: hidden;

	background-color: rgb(0,0,0);

	min-height: 100vh;
}

.Component {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	overflow: hidden;

	min-height: 100vh;
	z-index: 1;
}

.Content {
	display: flex;
	flex-direction: column;

	color: #fff;

	overflow: hidden;
	
	justify-content: center;
	align-items: center;

	width: 50%;
	margin: auto;

	min-height: 100vh;
}

.video {
	display: flex;

	overflow: hidden;

	position: relative;
	
	transition: 0.35s all;
}


.video_blackout {
	display: flex;
	
	justify-content: center;
	align-items: center;
	color: #fff;

	font-size: 30px;

	background-color: rgba(0,0,0, 0.5);

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.video_blackout h3 { 
	font-size: 50px;
}

h1, h2, h3 {
	font-family: "PhonkContrast", sans-serif;
}

p, span, a {
	font-family: "PhonkRegular", sans-serif;
}

a svg {
	margin: 0 5px;
}

button {
	outline: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}