body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

@font-face {
	font-family: 'PhonkRegular';
	src: url('./assets/fonts/Phonk/PhonkRegular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PhonkRegularItalic';
	src: url('./assets/fonts/Phonk/PhonkRegularItalic.otf') format('otf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PhonkRegularDEMO';
	src: url('./assets/fonts/Phonk/PhonkRegularDEMO.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PhonkContrast';
	src: url('./assets/fonts/Phonk/PhonkContrast.otf') format('otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PhonkContrastItalic';
	src: url('./assets/fonts/Phonk/PhonkContrastItalic.otf') format('otf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'PhonkContrastDEMO';
	src: url('./assets/fonts/Phonk/PhonkContrastDEMO.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}
