


.services {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
}

.service {
	display: flex;

	margin: 1%;

	border-radius: 0.25rem;
	overflow: hidden;

	position: relative;
	
	transition: 0.35s all;

}

.service video {
	transition: 0.8s all;
}

.service:hover video {
	transform: scale(1.2);
}

.service:hover .service_blackout {
	background-color: rgba(0,0,0, 0.1);
}

.service h3 {
	text-align: center;
}

.service_blackout {
	display: flex;
	
	justify-content: center;
	align-items: center;
	color: #fff;

	font-size: 30px;

	background-color: rgba(0,0,0, 0.5);

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


@media (min-width: 150px) and (max-width: 480px) {
	.service {
		width: 60%;
	}
	.service h3 {
		font-size: 20px;
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.service {
		width: 60%;
	}
	.service h3 {
		font-size: 20px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.service {
		width: 40%;
	}
	.service h3 {
		font-size: 30px;
	}
}

@media (min-width: 1025px) and (max-width: 1200px) {
	.service {
		width: 45%;
	}
	.service h3 {
		font-size: 30px;
	}
}

@media (min-width: 1201px) {
	.service {
		width: 30%;
	}
}