.service_categories {
	background-color: rgba(0, 0, 0, .35);
	display: flex;
	width: 100%;
	z-index: 90;
}

.service_categories_content {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	width: 80%;
}

.service_categories_content a {
	align-items: center;
	color: rgb(212, 212, 212);
	display: flex;
	font-family: PhonkRegular, sans-serif;
	font-size: 10px;
	font-weight: 400;
	justify-content: center;
	letter-spacing: 1px;

	margin: 15px 0;
	padding: 10px;
	font-size: 8.5px;

	text-align: center;
	text-transform: uppercase;
	transition: all .35s;
}

.service_categories_content a:hover {
	color: red;
}

@media (min-width: 769px) and (max-width: 1024px) {
	.service_categories_content {
		width: 100%;
	}
}