.service_categories {
	background-color: rgba(0, 0, 0, .35);
	display: flex;
	width: 100%;
	z-index: 1;
}

.service_categories_content {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	width: 80%;
}

.service_categories_content a {
	align-items: center;
	color: rgb(212, 212, 212);
	display: flex;
	font-family: PhonkRegular, sans-serif;
	font-size: 10px;
	font-weight: 400;
	justify-content: center;
	letter-spacing: 1px;

	margin: 15px 0;
	padding: 10px;
	font-size: 8.5px;

	text-align: center;
	text-transform: uppercase;
	transition: all .35s;
}

.service_categories_content a:hover,
.service_categories_content .active {
	color: red;
}

.services_list_btn {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	color: #fff;
	background-color: transparent;
	border: none;
	outline: none;
	transition: 0.35s all;
	width: 100%;

	height: 35px;

	z-index: 1000;
}

.service_categories .open {
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

	padding-top: 120px;
	height: auto;

	height: 84% !important;
}

.service_categories .open span {
	width: 39%;
	border: 1px solid #fff;
	margin: 10px;
}

.service_categories .open span a {
	padding: 5px;
}

@media (min-width: 150px) and (max-width: 768px) {
	.service_categories_content {
		display: none;
	}

	.services_list_btn {
		display: flex;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.service_categories_content {
		width: 100%;
	}
}